{% extends 'main/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>

h3 {
        color: rgb(7, 7, 218);
    }

    .help-block {
        font-size: 16px !important;
    }


</style>


<div class="container">

    <div class="jumbotron center-block" style="max-width: 600px;margin-bottom: 150px;margin-top : 50px;">
        <h3><strong>Reset Password</strong></h3></br>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary center-block">Send !</button>
        </form>
    </div>
</div>

{% endblock %}