{% extends 'main/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>

h3 {
        color: rgb(7, 7, 218);
    }

    .help-block {
        font-size: 16px !important;
    }


</style>


<div class="container">
    <div class="jumbotron center-block" style="max-width: 600px;">
        {% if validlink %}
        <h3><strong>Set New Password</strong></h3></br>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary center-block">Submit</button>
        </form>
        {% else %}
        <div class="alert alert-danger">
                <strong>Invalid Token, Try Accessing a fresh token</strong>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}