{% extends 'main/layout.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h3 style="color: rgb(7, 7, 218);text-align: center;"><strong>Email Sent Successfully</strong></h3></br>
        <div class="alert alert-info">
            <strong>We've emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.
                If you don't receive an email, please make sure you've entered the address you registered with, and
                check your spam folder.</strong>
        </div></br>
        <img src="{% static 'image/checkmark.gif' %}" alt="checkmark" width="350px"
            class="img img-responsive center-block">
    </div>
</div>


{% endblock %}