<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Popcorn Time</title>
  <!--External Links-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">
  <script src="{%static 'js/bootstrap.min.js' %}"></script>

  <!-- custom style sheet -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>


<body style="background-color:rgb(255, 246, 246)">

    <nav class="navbar navbar-inverse navbar-static-top hidden-sm hidden-xs" id="navigation_bar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'main:index' %}" style="color: rgb(255, 255, 255);"><strong><span
                id="first_letter">P</span>opcorn <span id="first_letter">T</span>ime</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right " style="text-align: center;margin-right : 10px;">
            {% if user.is_authenticated %}
          <li><a href="{% url 'main:accounts' pk=user.id user=user.username %}"><strong>Welcome {{ user.username }}</strong></a></li>
          {% endif %}
          <li><a href="{% url 'main:movies' %}"><strong><span class="glyphicon glyphicon-fire" style="color: red;"></span>&nbsp;
                Movies</strong></a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}"><strong><span class="glyphicon glyphicon-log-in"></span>&nbsp; Logout</strong></a></li>
          {% else %}
          <li><a href="{% url 'main:signup' %}"><strong><span class="glyphicon glyphicon-user"></span>&nbsp;Signup</strong></a></li>
          <li><a href="{% url 'login' %}"><strong><span class="glyphicon glyphicon-log-in"></span>&nbsp; Login</strong></a></li>
          {% endif %}
            <form class="navbar-form navbar-right" action="{% url 'main:search' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Movie,Hero,Heroine" name="search" >
              </div>
              <button type="submit" class="btn btn-default"><strong>Submit</strong></button>
            </form>
          </ul>
        </div>
      </div>
    </nav>
  
  
    <!-- End of navbar -->
  
  
    <!--mobile navbar-->
  
  
    <div class="topnav" id="myTopnav" style="margin-bottom:20px;">
      <div class="hidden-lg hidden-md">
  
        <a href="#"><strong><span id="first_letter">I</span>O Screen</strong></a>
        <a href="#" style="color: rgb(255,255,255);"><i class="far fa-newspaper" style="font-size: 20px;"></i>
          &nbsp;<strong><span id="first_letter">P</span>rojects</strong></a>
        <a href="#" style="color: rgb(255,255,255);"><i class="fab fa-blogger-b" style="font-size: 20px;"></i>
          &nbsp;<strong><span id="first_letter">B</span>log</strong></a>
  
        <form action="">
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-primary" id="search_submit" style="margin-top : 10px;">Submit</button>
        </form>
  
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
  
  
    <!--end of mobile navbar-->


    {% block content %}
    {% endblock %}

    <div class="container-fluid" style="background-color: rgb(0,0,0);padding-top: 40px;">
        <div class="row">
          <div class="col-lg-6" style="text-align: center;">
            <a class="footer-brand" href="#" style="color: rgb(255, 255, 255);"><strong><span
                  id="first_letter">P</span>opcorn <span id="first_letter">T</span>ime</strong></a>
            <h6 class="footer-brand" style="font-size : 16px;"><strong>Spice Up Your Life</strong></h6>
          </div>
          <div class="col-lg-6" style="text-align: center;">
            <a href="#" style="font-size: 30px;padding-right : 30px;color: rgb(255, 255, 255)"> <i
                class="fab fa-github"></i> </a>
            <a href="#" style="font-size: 30px;color: rgb(255, 255, 255);padding-right : 30px;"> <i
                class="fab fa-linkedin"></i> </a>
            <a href="#" style="font-size: 30px;color: rgb(255, 255, 255);padding-right : 30px;"> <i
                class="fab fa-twitter"></i> </a>
            <a href="#" style="font-size: 30px;color: rgb(255, 255, 255)"> <i class="fab fa-facebook"></i> </a>
          </div>
        </div>
        <p style="text-align : center;color : rgb(255,255,255);">&copy; Popcorn Time 2019</p>
      </div>
    
    </body>
    
    </html>